.exploration {
	position: absolute;
	top: 0;
	right: 0px;
	transform: translate(-110px, 0);
  transition: transform 500ms cubic-bezier(0,0,0.32,1);
}
.exploration.centered {
	transform: translate(calc(-50vw + 50%), calc(50vh - 100%));
}
.exploration.open {
  transition: transform 500ms linear;
}
.exploration.open:after {
	display: none;
}
.exploration.open > div {
  transition: all 500ms linear;
}
.exploration.open > div.tour {
	transform: translate(0, 0);
}
.exploration.open > div.interactive {
	transform: translate(0, 20px);
}
.exploration.open > div:hover {
	color: white;
}
.exploration.split > div.tour {
	transform: translate(-300%, 0) scale(3);
}
.exploration.split > div.interactive {
	transform: translate(300%, calc(-100% + 20px)) scale(3);
}

.description {
	position: absolute;
	top: 75%;
	left: -10px;
	right: -10px;
	font-size: 7px;
	display: block;
	animation: collapseIt 300ms cubic-bezier(0,0,0.32,1);
	animation-fill-mode: forwards;
	white-space: nowrap;
}
@keyframes collapseIt {
	0% {
		transform: scaleY(1);
	}
	100% {
		transform: scaleY(0);
	}
}
.exploration.descriptive .description {
	animation: none;
}
