.exploration {
	pointer-events: all;
	position: absolute;
	top: 0;
	right: 0px;
	transform: translate(-110px, 0);
}
.exploration.home {
	transform: translate(calc(-50vw + 50%), calc(50vh - 50%));
}
.exploration.home:after {
	display: none;
}
.exploration.home > div.tour {
	transform: translate(-300%, 0) scale(3);
}
.exploration.home > div.interactive {
	transform: translate(300%, calc(-100% + 20px)) scale(3);
}
.description {
	font-size: 7px;
	display: none;
}
.home .description {
	display: block;
}
