.egg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: purple;
	display: none;
}

.egg.visible {
	display: block;
}

.egg:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.egg video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}
