{
	"parser": "babel-eslint",
	"extends": "airbnb",
	"rules": {
		"indent": [2, "tab", {"SwitchCase": 1}],
		"react/jsx-indent": [2, "tab"],
		"react/jsx-indent-props": [2, "tab"],
		"react/prop-types": 0,
		"react/sort-comp": 0,
		"no-console": 0,
		"new-cap": 0,
		"no-underscore-dangle": 0,
	},
	"settings": {
		"import/resolver": {"webpack": {"config": "webpack.config.dev.babel.js"}}
	},
	"globals": {
		"google": true
	},
}
