.sounds {
	opacity: 0;
}
.sounds.visible {
	opacity: 1;
}
.sound {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 60px;
	background: rgba(0, 0, 0, 1);
	transform: translateY(60px);
	transition: transform 200ms cubic-bezier(0,0,0.32,1);
}

.sound.visible {
	transform: translateY(0);
}

.button {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 60px;
	height: 60px;
}
.button.playing .play {
	display: none;
}
.button .pause {
	display: none;
}
.button.playing .pause {
	display: block;
}

.seekContainer {
	position: absolute;
	bottom: 20px;
	left: 60px;
	right: 60px;
	height: 20px;
	background: #595959;
}
.seek {
	position: absolute;
	left: 0;
	width: 0;
	height: 100%;
	background: #FFF;
}

.volume {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 60px;
	height: 60px;
}
