.origin {
	position: absolute;
	top: -20px;
	left: -20px;
	width: 40px;
	height: 40px;
	display: none;
}
.origin.visible {
	display: inline-block;
}

.origin svg {
	position: relative;
	bottom: 19px;
	max-width: 100%;
	max-height: 100%;
	transform: scale(0.6);
	transition: transform 150ms linear;
	transform-origin: 50% 100%;
}
.origin:hover svg {
	transform: scale(1);
}

.name {
	position: absolute;
	top: 1px;
	left: 0;
	transform: translateX(-50%) scale(0);
	padding: 7px 12px;
	background: white;
	color: rgba(0, 0, 0, 0);
	text-transform: uppercase;
	text-align: center;
}
.name.hover {
	animation: fadeName 300ms cubic-bezier(0,0,0.32,1);
	animation-fill-mode: forwards;
}
.name .nativeName {
	font-style: italic;
	font-size: 9px;
}
@keyframes fadeName {
	0% {
		transform: translateX(-50%) translateY(-100%) scale(0);
		color: rgba(0, 0, 0, 0);
	}
	90% {
		color: rgba(0, 0, 0, 0);
	}
	100% {
		transform: translateX(-50%) translateY(0) scale(1);
		color: rgba(0, 0, 0, 1);
	}
}
