.origin {
	position: absolute;
	top: -20px;
	left: -20px;
	width: 40px;
	height: 40px;
	display: none;
}
.origin.visible {
	display: inline-block;
}

.origin svg {
	max-width: 100%;
	max-height: 100%;
	transform: scale(0.5);
	transition: transform 150ms linear;
}
.origin:hover svg {
	transform: scale(0.9);
}
