.home {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.6);
	display: none;
	text-align: center;
	color: white;
}

.home.visible {
	display: block;
}
.content {
	position: absolute;
	top: 0;
	left: 10%;
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.content > div {
	text-align: center;
	min-width: 200px;
	cursor: pointer;
	padding: 10px;
	background: rgba(0,0,0,0);
	transition: background 500ms linear;
	border-radius: 10px;
}
.content > div:hover {
	background: rgba(0,0,0,0.8);
}
.content h2 {
	border-bottom: 1px solid white;
	font-size: 40px;
	font-weight: normal;
	margin: 0;
	padding: 10px 0;
}
.content p {
	font-size: 28px;
	margin: 0;
	padding: 10px 0;
}
