.interface {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
}

.close {
	position: absolute;
	top: 50px;
	right: 25px;
	width: 149px;
	height: 193px;
	color: white;
	display: none;
	cursor: pointer;
}

.close.visible {
	display: block;
	pointer-events:all;
}

.close svg :global(#canada-content) {
	stroke: rgba(255,255,255,0.6);
	stroke-width: 1;
	transition: stroke 200ms cubic-bezier(0,0,0.32,1);
}

.close:hover svg :global(#canada-content) {
	stroke: rgba(255,255,255,1);
}

.menu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 30px;
	background: rgba(0,0,0,1);
	display: flex;
	flex-direction: row;
	line-height: 30px;
	font-size: 13px;
}

.menu > div {
	padding: 0 10px;
	margin: 0 5px;
}
