.egg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: black;
	display: none;
}

.egg.visible {
	display: block;
}

.egg:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

@media screen and (min-aspect-ratio: 1920/1080) {
	.egg iframe {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 100vw;
		height: 56.25vw;
		transform: translate(-50%, -50%);
	}
}
@media screen and (max-aspect-ratio: 1920/1080) {
	.egg iframe {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 177.77777vh;
		height: 100vh;
		transform: translate(-50%, -50%);
	}
}
