.zoomers {
	position: absolute;
	overflow: hidden;
	left: 50%;
	top: 50%;
	margin-left: -960px;
	margin-top: -540px;
	width: 1920px;
	height: 1080px;
}
.zoomerContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	display: none;
	overflow: hidden;
}
.zoomerContainer.displayed {
	display: block;
}
.zoomerContainer.visible {
	opacity: 0.5;
}
.zoomer {
	width: 100%;
	height: 100%;
}
