.zoomers {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -960px;
	margin-top: -540px;
	width: 1920px;
	height: 1080px;
}
.zoomerContainer {
	width: 100%;
	height: 100%;
	opacity: 0;
}
.zoomerContainer.mounted {
	display: none;
}
.zoomerContainer.zooming {
	display: block;
	opacity: 0.4;
}
.zoomer {
	width: 100%;
	height: 100%;
}
