.alignment {
	position: absolute;
}

.bottom {
	top: 0
}
.top {
	bottom: 0
}
.middle {
	transform: translateY(calc(-50%));
}

.right {
	left: 0
}
.left {
	right: 0
}
.center {
	transform: translateX(calc(-50%));
}

.middle.center {
	transform: translateY(calc(-50%)) translateX(calc(-50%));
}
