.citie {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-size: cover;
	background-position: center center;
}
.citie.currentCitie {
	opacity: 0;
}
.citie.fadeIn {
	animation: fadeIn 500ms linear;
	animation-fill-mode: forwards;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.citie.prevCitie {
	opacity: 1;
}
.citie.fadeOut {
	animation: fadeOut 500ms linear;
	animation-fill-mode: forwards;
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
