.destination {
	display: none;
}
.destination.visible {
	display: block;
}
.circle {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	display: inline-block;
}
.circle:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	background: rgba(255, 255, 255, 1);;
	opacity: 1;
	display: inline-block;
	transform: scale(0.20);
	transition: all 300ms cubic-bezier(0,0,0.32,1);
}
.hover .circle:before {
	transform: scale(1);
	opacity: 1;
}

.bottom .circle {
	top: -20px;
}
.top .circle {
	bottom: -20px;
}
.middle .circle {
	top: 50%;
	margin-top: -20px;
}

.right .circle {
	left: -20px;
}
.left .circle {
	right: -20px;
}
.center .circle {
	left: 50%;
	margin-left: -20px;
}

.content {
	box-sizing: content-box;
	position: relative;
	display: none;
	white-space: nowrap;
	color: white;
	width: 110px;
}
.hover .content  {
	display: block;
}
.content > div {
	display: flex;
	overflow: hidden;
}
.bottom.left .content {
	margin: -20px -20px 0 0;
	padding: 25px 25px 0 0;
}
.bottom.right .content {
	margin: -20px 0 0 -20px;
	padding: 25px 0 0 25px;
}
.bottom.center .content {
	margin: -5px 0 0 0;
	padding: 20px 0 0;
}
.top.left .content {
	margin: 0 -20px -20px 0;
	padding: 0 25px 25px 0;
}
.top.right .content {
	margin: 0 0 -20px -20px;
	padding: 0 0 25px 25px;
}
.top.center .content {
	margin: 0 0 -5px 0;
	padding: 0 0 20px 0;
}
.bottom.hover .content > div {
	flex-direction: column;
}
.top.hover .content > div {
	flex-direction: column-reverse;
}
.nameContainer {
	position: relative;
	z-index: 10;
	background: rgba(255,255,255,1);
	text-transform: uppercase;
	padding: 7px 0;
	text-align: center;
	transform: scaleX(0);
}
.right .nameContainer {
	transform-origin: 0 0;
}
.left .nameContainer {
	transform-origin: 100% 0;
}
.right.hover .nameContainer,
.left.hover .nameContainer {
	animation: expandNameHorizontal 400ms cubic-bezier(0,0,0.32,1);
	animation-fill-mode: forwards;
}
.bottom.center .nameContainer {
	transform-origin: 50% 0;
}
.top.center .nameContainer {
	transform-origin: 50% 100%;
}
.center.hover .nameContainer {
	animation: expandNameVertical 400ms cubic-bezier(0,0,0.32,1);
	animation-fill-mode: forwards;
}
@keyframes expandNameHorizontal {
	0% {
		transform: scaleX(0);
	}
	35% {
		transform: scaleX(0);
	}
	90% {
		transform: scaleX(1);
	}
	100% {
		transform: scaleX(1);
	}
}
@keyframes expandNameVertical {
	0% {
		transform: scaleY(0);
	}
	35% {
		transform: scaleY(0);
	}
	90% {
		transform: scaleY(1);
	}
	100% {
		transform: scaleY(1);
	}
}
.name {
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0);
}
.hover .name {
	animation: fadeName 300ms cubic-bezier(0,0,0.32,1);
	animation-fill-mode: forwards;
}
.name .nativeName {
	font-style: italic;
	font-size: 9px;
}
@keyframes fadeName {
	0% {
		color: rgba(0, 0, 0, 0);
	}
	90% {
		color: rgba(0, 0, 0, 0);
	}
	100% {
		color: rgba(0, 0, 0, 1);
	}
}

.interviews {
	position: relative;
	z-index: 9;
	opacity: 0;
}
.hover .interviews {
	animation-duration: 550ms;
	animation-timing-function: cubic-bezier(0,0,0.32,1);
	animation-fill-mode: forwards;
}
.bottom.hover .interviews {
	animation-name: expandInterviewsFromTop;
}
.top.hover .interviews {
	animation-name: expandInterviewsFromBottom;
}
@keyframes expandInterviewsFromTop {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	60% {
		transform: translateY(-100%);
		opacity: 0;
	}
	61% {
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes expandInterviewsFromBottom {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}
	60% {
		transform: translateY(100%);
		opacity: 0;
	}
	61% {
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
