.introduction {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,1);
	display: none;
	font-weight: 300;
}
.introduction.displayed {
	display: block;
}
.map {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -1102px;
	margin-left: -1102px;
	will-change: transform;
	transform: translate3d(0,-794px,0);
	transform-origin: 1102px 1102px;
}
.map.untranslated {
	transform: translate3d(0,0,0);
  transition: transform 8s linear;
}
.introduction img {
	opacity: 0;
	transform-origin: 1102px 1102px;
}
.introduction img.visible {
	opacity: 0.2;
  transition: opacity 2s linear;
}
.introduction img.rotating {
	animation: rotateImage 220s linear;
	animation-iteration-count:infinite;
}
@keyframes rotateImage {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.origin {
	position: absolute;
	top: 1102px;
	left: 1102px;
	width: 47px;
	height: 62px;
	margin-top: 794px;
	margin-left: 6px;
	opacity: 0;
	transform: translate(-50%, -50%) translate3d(0,-100px,0);
  transition: opacity 1s linear;
}
.origin.visible {
	opacity: 1;
}
.origin.untranslated {
	transform: translate(-50%, -50%) translate3d(0,0,0);
  transition: transform 1s linear;
}
.destination {
	position: absolute;
	top: 1102px;
	left: 1102px;
	margin-top: 114px;
	margin-left: -91px;
	width: 16px;
	height: 16px;
	border-radius: 16px;
	transform: translate(-50%,-50%);
	background: white;
	opacity: 0;
  transition: opacity 1s linear;
}
.destination.visible {
	opacity: 1;
  transition: opacity 200ms cubic-bezier(0,0,0.32,1);
}
.distance {
	position: absolute;
	top: 1102px;
	left: 1102px;
	margin-top: 114px;
	margin-left: -91px;
	width: 97px;
	height: 711px;
	opacity: 0;
  transition: opacity 1s linear;
}
.distance.visible {
	opacity: 1;
}
.distance .path {
	stroke: rgba(255,255,255,0.8);
	stroke-width: 1.5;
}
.distance.grown .path {
	animation: dashIn 2500ms linear forwards;
}
@keyframes dashIn {
  to {
    stroke-dashoffset: 0;
  }
}
.text {
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 24px;
	font-family: 'Arimo', sans-serif;
}
.text1 p,
.text2 p,
.text3 p,
.text4 p {
	opacity: 0;
  transition: opacity 1000ms linear;
	width: 40vw;
}
.text1 p,
.text2 p {
	transform: translate3d(26vw,0,0);
}
.text3 p,
.text4 p {
	text-align: center;
}
.text1.visible p,
.text2.visible p,
.text3.visible p,
.text4.visible p {
	opacity: 1;
  transition: opacity 1500ms linear;
}
