.interview {
	position: relative;
	z-index: 0;
	width: 63px;
	height: 83px;
	display: none;
	transition: opacity 200ms linear;
}

.interview.egg {
	position: absolute;
}

.interview.visible {
	display: block;
}

.interview.faded {
	opacity: 0;
}

.interview.hovered {
	z-index: 1;
}

.interview svg {
	max-width: 100%;
	max-height: 100%;
}

.interview svg :global(#marker) {
	fill: black;
}
.interview.hoverede svg :global(#marker) {
	fill: orange;
}

.interview svg :global(#oval) {
	fill: white;
}
.interview.hoverede svg :global(#oval) {
	fill: black;
}
.interview svg :global(#arrow) {
	stroke: black;
}
.interview.hoverede svg :global(#arrow) {
	stroke: white;
}
