.tourer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  display: none;
}
.displayed {
  display: block;
}
.previous,
.next {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 140px;
  background: rgba(255,255,255,0.2);
  font-size: 80px;
  color: white;
  line-height: 100vh;
  text-align: center;
  cursor: pointer;
}
.previous {
  left: 0;
}
.next {
  right: 0;
}