.slideshow {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
}

.slide,
.theme {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-position: center center;
 	background-size: cover;
	opacity: 0;
	z-index: 0;
}
.slide {
	background-color: #222;
}
.slide.prevSlide {
	opacity: 1;
}
.slide.currentSlide {
	z-index: 1;
	animation: fadeIn 5s linear;
	animation-fill-mode: forwards;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.theme {
	transition: opacity 5s linear;
	z-index: 1;
}
.theme.currentTheme {
	opacity: 1;
}